<div class="converter">
  <div class="currency-input">
    <input type="number" [(ngModel)]="amount1" (input)="convert()" />
    <select [(ngModel)]="currency1" (change)="convert()">
      <option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </option>
    </select>
  </div>
  <div class="currency-input">
    <input type="number" [(ngModel)]="amount2" (input)="reverseConvert()" />
    <select [(ngModel)]="currency2" (change)="reverseConvert()">
      <option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </option>
    </select>
  </div>
</div>
